<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список студентів</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Список студентів</h1>
        <table id="documents-table">
            <thead>
                <tr>
                    <th>student_id</th>
                    <th>name</th>
                    <th>enrollement_date</th>
                </tr>
            </thead>
            <tbody>
                <!-- Дані документів будуть додані сюди через JavaScript -->
            </tbody>
        </table>
    </div>

    <script>
        fetch('/api/documents')
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('documents-table').getElementsByTagName('tbody')[0];
                data.forEach(document => {
                    const row = tableBody.insertRow();
                    row.insertCell(0).innerText = document.student_id;
                    row.insertCell(1).innerText = document.name;
                    row.insertCell(2).innerText = document.enrollevent_date;
                });
            })
            .catch(error => console.error('Error fetching documents:', error));
    </script>
</body>
</html>